/* Make the background and layout */
.hero-background {
    background-image: url("../image/MNVMHR6OM5GERBUJNZ2H247WKY.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2rem;
}

/* Data & Weather Boxes */
.data-box,
.weather-box {
    background-color: rgba(255, 255, 255, 0.85);
    border: 2px solid #000;
    padding: 1rem;
    width: 280px;
}
