/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f3f3;
}

/* HEADER */
header {
    background: #ddd;
    padding: 20px;
    text-align: center;
    font-size: 1.8rem;
    border-bottom: 2px solid #bbb;
}

/* MAIN IMAGE */
.main-image {
    background-image: url("../image/MNVMHR6OM5GERBUJNZ2H247WKY.avif");
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
}

/* SECTION BOXES */
.data-box, .weather-box {
    background: white;
    border: 2px solid #000;
    padding: 15px;
    margin: 15px;
}

/* WEATHER ICON */
.weather-icon {
    width: 60px;
    height: 60px;
    display: block;
    margin-bottom: 15px;
}

/* DESKTOP LAYOUT */
@media (min-width: 900px) {

    main {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        gap: 15px;
        margin: 15px;
        align-items: start;
    }

    .main-image {
        height: 500px;
        grid-column: 2;
    }

    .data-box {
        grid-column: 1;
    }

    .weather-box {
        grid-column: 3;
    }
}

/* FOOTER */
footer {
    margin-top: 20px;
    background: #ddd;
    text-align: center;
    padding: 15px;
    font-size: 0.9rem;
    border-top: 2px solid #bbb;
}
