/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f3f3;
}

/* HEADER */
header {
    background: #ddd;
    padding: 20px;
    text-align: center;
    font-size: 1.8rem;
    border-bottom: 2px solid #bbb;
}

/* MAIN IMAGE */
.hero-background {
    width: 100%;
    min-height: 70vh;
    background-image: url("../image/MNVMHR6OM5GERBUJNZ2H247WKY.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;
}


/* SECTION BOXES */
.data-box, .weather-box {
    background-color: rgba(255, 255, 255, 0.85);
    border: 2px solid #333;
    padding: 1rem 1.5rem;
    width: 280px;
    backdrop-filter: blur(2px);
}


/* WEATHER ICON */
.weather-icon {
    width: 60px;
    height: 60px;
    display: block;
    margin-bottom: 15px;
}

/* DESKTOP LAYOUT */
@media (max-width: 768px) {
    .hero-background {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        padding: 1rem;
    }

    .data-box,
    .weather-box {
        width: 90%;
    }
}


/* FOOTER */
footer {
    margin-top: 20px;
    background: #ddd;
    text-align: center;
    padding: 15px;
    font-size: 0.9rem;
    border-top: 2px solid #bbb;
}
